# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# CloudFormation
.aws-sam/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Credentials - never commit these
*.pem
*.key
credentials
.env
